/* *** REGLAS GENERALES ***

PARA PONER ESTILOS EN LOS ELEMENTOS
Agregando estilos:

Posicionamiento --> static, absolute, relative, fixed
Modelo de caja (Box model) --> margin, border, padding, content
Tipografía --> tipos, tamaños de fuente, etc
Estilos visuales --> box-shadow, border-radius, gradient, etc
Otros --> reglas CSS y más


*/

:root {
  /* fuentes */
  --font_DM: "DM Sans", serif;
  --font_Inter: "Inter", serif;

  /* colores  */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;

  /* fonts size */
  --font-size-sans-small: 14px;
  --font-size-sans-normal: 18px;
  --font-size-sans-large: 24px;

  --font-size-inter-small: 12px;
  --font-size-inter-normal: 16px;

  /* line height  */
  --line-height-inter-small: 18px;
  --line-height-inter-normal: 23px;
  --line-height-inter-large: 26px;

  --line-height-inter-small: 15px;
  --line-height-inter-normal: 19px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  
}
html{
    font-size: 62.5%; /* esto es para que 1rem sea igual a 10px*/
    font-family: var(--font_DM);
}

/*
El profesor al cambiarle la dirrección al flex con flex-direction:column hizo que a su vez el justify-content cambiara su direecion de centrado. Por este motivo en las clases de mas adelante le cuesta centrar algunos contenedores. Para evitar esto añadan en el header align-items: center  con esto solucionan algunas fallas en el centrado de los contenedores.

Un dato a tener en cuenta: Según la metodología BEM, los Elements deben llevar el nombre como: block__element, usando ++dos guiones bajos++ y luego el nombre. Por otro lado, los Modifiers deben llevar el nombre como: block--modifier, usando ++dos guiones++ y luego el nombre. En la clase se nombran los Elements como Modifiers, un pequeño detalle a la hora de hacer el naming de las clases
*/
header{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;

    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px; 
    align-self: center; /* centra un elemento dentro de un contenedor con display flex */
}
.header__title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center; /* centra el texto*/
    align-self: center; /* centra el elemento*/
}

.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}